<div style="text-align: center;">
  <br><br><br>
  <h1> <big><big><big><big> THE GOSSIP PROJECT </big></big></big></big> </h1>
  <h2> Bienvenue sur notre site trop cool</h2>
  <br><h4>Vous avez gagné un Super Pouvoir :    <u><%= @random_name %></u></h4></div>
  <br><br><br>
</div>

 <tbody>



<div class="container">
  
  <% @gossips.each do |gossip| %>

        <!-- Example row of columns -->
        <div class="row">
          <div class="row-md-4">
            <h2><%= gossip.title %></h2>
            <p><%= gossip.content %></p>
            <p><a class="btn btn-secondary" href="gossip_path(gossip.id)" role="button">Les Potins de <%= gossip.user.name %>&raquo;</a></p>
          </div>
          
        </div>

        <hr>

      </div> <!-- /container -->


    <% end %>
  </tbody>
