<div style="text-align: center;">
  <br><br><br>
  <h1> <big><big><big><big> THE GOSSIP PROJECT </big></big></big></big> </h1>
  <h2> Bienvenue sur notre site trop cool</h2>
  <br><h4>Vous avez gagné un Super Pouvoir :    <u><%= @random_name %></u></h4></div>
  <br><br><br>
</div>
<%# 
 <tbody>
 <% @gossips.each do |gossip| %>



  </tbody>
