<div style="text-align: center;">
  <h1> <big><big> THE GOSSIP PROJECT </big></big> </h1>
  <h2> Bienvenue sur notre site trop cool</h2>
  <h3>Vous avez gagné un Super Pouvoir : <br><br> <u><%= @random_name %></u></h3></div>
</div>

 <tbody>

    <% @gossips.each do |gossip| %>
      <tr>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><td><%= gossip.title %><br></td></h5>
    <h6 class="card-subtitle mb-2 text-muted"><td><%= gossip.gossip %><span></td></h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link"><td><%= gossip.title %><br></td></a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

    <% end %> %>
  </tbody>
