<Br><br><br>
<div style="text-align: center;">
    <h1>Voici la listes des Potins</h1>
  
  <% @gossips.each do |gossip| %>
<br><br>

       <div class= "container-fluid">
        <div class="row">
          <div class="col-sm">
            <h2><%= gossip.title %></h2>
            <p><%= gossip.content %></p>
            <p><a class="btn btn-primary" href="<%= gossip_path(gossip.id)%>" class="btn">Lire Le Potin &raquo;</a></p>
            <p><a class="btn btn-secondary" href="<%= new_gossip_path %>" class="btn">Modifier Le Potin</a></p>
            <p><form action="/gossips/:id" method="delete"></a><input type="submit" value="Supprimer"></p>
          </div>
        </div>


      </div> <!-- /container -->


    <% end %>

</div>