<div style="text-align: center;">

<br><br><br><h1>Ici Doit Apparaitre Un Gossip Unique</h1>



<h1><%= @gossip.title%></h1>

<p><%= @gossip.content%></p>


<p>
    <a class="btn btn-primary" href="<%= "/gossips" %>" class="btn btn-primary">Revenir aux Gossips</a>

</p>



